$spacing: 10px;

$computer-color: mintcream;
$computer-border-width: $spacing * 4;

$computer-screen-color: black;
$computer-text-color: lawngreen;

$search-font-color: $computer-text-color;
$search-background-color: black;
$search-border-color: white;

$transcript-preview-color: gray;
$transcript-preview-new-color: $computer-text-color;